div.container-fluid{
	padding: 10px;
	padding-bottom: 50px;
}

.footer {
  margin-top: -60px;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #ffffff;
  border-top: 1px solid #ccc;
}

img#logo{
	float: left;
}

.footer-top {
  width: 100%;
  padding: 0 15px;
}

span.footer-title {
  text-align: left;
  font-size: 12px;
  color: #333;
}

span.footer-small {
  text-align: right;
  font-size: 11px;
  color: #999;
}
