.btn-lg {
    background-color: #eee;
    width: 780px;
    border: none;
    text-align: left;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-lg:hover {
    background-color: #ccc;
}

.btn-lg:before {
    content: '\02795';
    margin-right: 20px;
}

.active:before {
    content: '\02796';
    margin-right: 20px;
}

.help{
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    font-size: 16px;
    background-color: #eee;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: default;
}

.help:before{
    content: "\003F";
    font-weight: bold;
}


.alert {
    width: 800px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.error{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background-color: #e64943;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: default;
    color: #fff;
}

.error:before{
    content: "x";
    font-weight: bold;
}

.warn{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background-color: #ffd54b;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: default;
    color: black;
}

.warn:before{
    content: "!";
    font-weight: bold;
    color: #C00;
}

dl {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

dt {
  clear: left;
  float: left;
  width: 60%;
  border-top: 1px solid #ccc;
}

dd {
  margin-left: 60%;
  width: 40%;
  text-align: right;
  border-top: 1px solid #ccc;
}

dl.help-content {
  margin-top: 10px;
}

dt.help-content {
  width: 100%;
  float: left;
  border-top: 1px solid #ccc;
}

dd.help-content {
  margin-left: 0%;
  width: 100%;
  text-align: left;
  border-top: 0px solid #ccc;
}

.help-item {
    display: none;
    margin-top: 35px;
    margin-bottom: 20px;
    border: 1px solid #999;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 20px -10px;
}